@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply m-0 font-sans antialiased bg-gray-50 text-gray-900;
  }

  #root {
    @apply min-h-screen;
  }

  a {
    @apply no-underline;
  }
}